$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-ic24-alarm: "\e900";
$icon-ic24-alarm-add: "\e901";
$icon-ic24-alert: "\e902";
$icon-ic24-alert-full: "\e903";
$icon-ic24-align-center: "\e904";
$icon-ic24-align-justify: "\e905";
$icon-ic24-align-left: "\e906";
$icon-ic24-align-right: "\e907";
$icon-ic24-anchor: "\e908";
$icon-ic24-apple: "\e909";
$icon-ic24-apps: "\e90a";
$icon-ic24-archive: "\e90b";
$icon-ic24-arrow-circle-down: "\e90c";
$icon-ic24-arrow-circle-left: "\e90d";
$icon-ic24-arrow-circle-right: "\e90e";
$icon-ic24-arrow-circle-top: "\e90f";
$icon-ic24-arrow-down: "\e910";
$icon-ic24-arrow-left: "\e911";
$icon-ic24-arrow-right: "\e912";
$icon-ic24-arrow-up: "\e913";
$icon-ic24-aspect-ratio: "\e914";
$icon-ic24-attachment: "\e915";
$icon-ic24-audio-next: "\e916";
$icon-ic24-audio-prev: "\e917";
$icon-ic24-battery-charging: "\e918";
$icon-ic24-battery-empty: "\e919";
$icon-ic24-battery-full: "\e91a";
$icon-ic24-battery-low: "\e91b";
$icon-ic24-battery-medium: "\e91c";
$icon-ic24-block: "\e91d";
$icon-ic24-bluetooth: "\e91e";
$icon-ic24-bolt: "\e91f";
$icon-ic24-book: "\e920";
$icon-ic24-bookmark: "\e921";
$icon-ic24-bookmark-add: "\e922";
$icon-ic24-bookmark-full: "\e923";
$icon-ic24-border-all: "\e924";
$icon-ic24-border-bottom: "\e925";
$icon-ic24-border-horizontal: "\e926";
$icon-ic24-border-inner: "\e927";
$icon-ic24-border-left: "\e928";
$icon-ic24-border-outline: "\e929";
$icon-ic24-border-right: "\e92a";
$icon-ic24-border-style: "\e92b";
$icon-ic24-border-top: "\e92c";
$icon-ic24-border-vertical: "\e92d";
$icon-ic24-brightness-auto: "\e92e";
$icon-ic24-brightness-high: "\e92f";
$icon-ic24-brightness-low: "\e930";
$icon-ic24-brightness-medium: "\e931";
$icon-ic24-bug: "\e932";
$icon-ic24-bulb: "\e933";
$icon-ic24-calendar: "\e934";
$icon-ic24-calendar-add: "\e935";
$icon-ic24-calendar-days: "\e936";
$icon-ic24-calendar-edit: "\e937";
$icon-ic24-calendar-remove: "\e938";
$icon-ic24-calendar-select-day: "\e939";
$icon-ic24-camera: "\e93a";
$icon-ic24-car: "\e93b";
$icon-ic24-chart-bar: "\e93c";
$icon-ic24-chart-pie: "\e93d";
$icon-ic24-chat: "\e93e";
$icon-ic24-check: "\e93f";
$icon-ic24-chevron-down: "\e940";
$icon-ic24-chevron-left: "\e941";
$icon-ic24-chevron-right: "\e942";
$icon-ic24-chevron-up: "\e943";
$icon-ic24-close: "\e944";
$icon-ic24-cloud: "\e945";
$icon-ic24-column-2-vertical: "\e946";
$icon-ic24-comment: "\e947";
$icon-ic24-comment-add: "\e948";
$icon-ic24-company: "\e949";
$icon-ic24-copy: "\e94a";
$icon-ic24-credit-card: "\e94b";
$icon-ic24-crop: "\e94c";
$icon-ic24-dashboard: "\e94d";
$icon-ic24-delete: "\e94e";
$icon-ic24-desktop: "\e94f";
$icon-ic24-difference: "\e950";
$icon-ic24-direction: "\e951";
$icon-ic24-dns: "\e952";
$icon-ic24-dollar: "\e953";
$icon-ic24-download: "\e954";
$icon-ic24-drag-indicator: "\e955";
$icon-ic24-edit: "\e956";
$icon-ic24-email: "\e957";
$icon-ic24-email-alt: "\e958";
$icon-ic24-equalizer: "\e959";
$icon-ic24-euro: "\e95a";
$icon-ic24-explore: "\e95b";
$icon-ic24-extension: "\e95c";
$icon-ic24-facebook: "\e95d";
$icon-ic24-file: "\e95e";
$icon-ic24-file-add: "\e95f";
$icon-ic24-file-edit: "\e960";
$icon-ic24-file-remove: "\e961";
$icon-ic24-filter: "\e962";
$icon-ic24-flag: "\e963";
$icon-ic24-flip-to-back: "\e964";
$icon-ic24-flip-to-front: "\e965";
$icon-ic24-folder: "\e966";
$icon-ic24-folder-add: "\e967";
$icon-ic24-format-bold: "\e968";
$icon-ic24-format-indent-decrease: "\e969";
$icon-ic24-format-indent-increase: "\e96a";
$icon-ic24-format-italic: "\e96b";
$icon-ic24-format-line-spacing: "\e96c";
$icon-ic24-format-strikethrough: "\e96d";
$icon-ic24-format-underline: "\e96e";
$icon-ic24-franc: "\e96f";
$icon-ic24-fullscreen: "\e970";
$icon-ic24-fullscreen-exit: "\e971";
$icon-ic24-functions: "\e972";
$icon-ic24-globe: "\e973";
$icon-ic24-google: "\e974";
$icon-ic24-gps: "\e975";
$icon-ic24-gps-fixed: "\e976";
$icon-ic24-gps-off: "\e977";
$icon-ic24-health: "\e978";
$icon-ic24-heart: "\e979";
$icon-ic24-heart-full: "\e97a";
$icon-ic24-help: "\e97b";
$icon-ic24-home: "\e97c";
$icon-ic24-horizontal-align-center: "\e97d";
$icon-ic24-horizontal-align-left: "\e97e";
$icon-ic24-horizontal-align-right: "\e97f";
$icon-ic24-hourglass-empty: "\e980";
$icon-ic24-hourglass-full: "\e981";
$icon-ic24-hourglass-progress: "\e982";
$icon-ic24-import-export: "\e983";
$icon-ic24-inbox: "\e984";
$icon-ic24-info: "\e985";
$icon-ic24-insert-emoticon: "\e986";
$icon-ic24-instagram: "\e987";
$icon-ic24-intersect: "\e988";
$icon-ic24-invert-color: "\e989";
$icon-ic24-key: "\e98a";
$icon-ic24-keyboard: "\e98b";
$icon-ic24-label: "\e98c";
$icon-ic24-layer-align-bottom-center: "\e98d";
$icon-ic24-layer-align-horizontal: "\e98e";
$icon-ic24-layer-align-left-center: "\e98f";
$icon-ic24-layer-align-right-center: "\e990";
$icon-ic24-layer-align-top-center: "\e991";
$icon-ic24-layer-align-vertical: "\e992";
$icon-ic24-layers: "\e993";
$icon-ic24-link: "\e994";
$icon-ic24-linkedin: "\e995";
$icon-ic24-list-bullet: "\e996";
$icon-ic24-lock: "\e997";
$icon-ic24-map: "\e998";
$icon-ic24-medium: "\e999";
$icon-ic24-menu: "\e99a";
$icon-ic24-mic: "\e99b";
$icon-ic24-mic-off: "\e99c";
$icon-ic24-minus: "\e99d";
$icon-ic24-minus-circle: "\e99e";
$icon-ic24-mobile: "\e99f";
$icon-ic24-more-hor: "\e9a0";
$icon-ic24-more-ver: "\e9a1";
$icon-ic24-mouse: "\e9a2";
$icon-ic24-navigation: "\e9a3";
$icon-ic24-near-me: "\e9a4";
$icon-ic24-notification: "\e9a5";
$icon-ic24-opacity: "\e9a6";
$icon-ic24-open-in-browser: "\e9a7";
$icon-ic24-open-in-new: "\e9a8";
$icon-ic24-parking: "\e9a9";
$icon-ic24-pause: "\e9aa";
$icon-ic24-pause-circle: "\e9ab";
$icon-ic24-performance: "\e9ac";
$icon-ic24-phone: "\e9ad";
$icon-ic24-phone-callback: "\e9ae";
$icon-ic24-phone-forwarded: "\e9af";
$icon-ic24-phone-in-talk: "\e9b0";
$icon-ic24-phone-missed: "\e9b1";
$icon-ic24-phone-paused: "\e9b2";
$icon-ic24-photo: "\e9b3";
$icon-ic24-photo-add: "\e9b4";
$icon-ic24-photos: "\e9b5";
$icon-ic24-plane: "\e9b6";
$icon-ic24-play: "\e9b7";
$icon-ic24-play-circle: "\e9b8";
$icon-ic24-plugin: "\e9b9";
$icon-ic24-plus: "\e9ba";
$icon-ic24-plus-circle: "\e9bb";
$icon-ic24-pound: "\e9bc";
$icon-ic24-protect: "\e9bd";
$icon-ic24-publish: "\e9be";
$icon-ic24-quote: "\e9bf";
$icon-ic24-redo: "\e9c0";
$icon-ic24-refresh: "\e9c1";
$icon-ic24-remove: "\e9c2";
$icon-ic24-reply: "\e9c3";
$icon-ic24-report: "\e9c4";
$icon-ic24-rotate: "\e9c5";
$icon-ic24-ruble: "\e9c6";
$icon-ic24-search: "\e9c7";
$icon-ic24-select-all: "\e9c8";
$icon-ic24-settings: "\e9c9";
$icon-ic24-share: "\e9ca";
$icon-ic24-shopping-cart: "\e9cb";
$icon-ic24-shuffle: "\e9cc";
$icon-ic24-slider: "\e9cd";
$icon-ic24-sort: "\e9ce";
$icon-ic24-star: "\e9cf";
$icon-ic24-star-empty: "\e9d0";
$icon-ic24-stopwatch: "\e9d1";
$icon-ic24-substract: "\e9d2";
$icon-ic24-success: "\e9d3";
$icon-ic24-suitcase: "\e9d4";
$icon-ic24-sync: "\e9d5";
$icon-ic24-tablet: "\e9d6";
$icon-ic24-tag: "\e9d7";
$icon-ic24-text-fields: "\e9d8";
$icon-ic24-thumb-down: "\e9d9";
$icon-ic24-thumb-up: "\e9da";
$icon-ic24-ticket: "\e9db";
$icon-ic24-time: "\e9dc";
$icon-ic24-transaction: "\e9dd";
$icon-ic24-trending-down: "\e9de";
$icon-ic24-trending-up: "\e9df";
$icon-ic24-trophy: "\e9e0";
$icon-ic24-turn-off: "\e9e1";
$icon-ic24-tv: "\e9e2";
$icon-ic24-twitter: "\e9e3";
$icon-ic24-undo: "\e9e4";
$icon-ic24-unfold-less: "\e9e5";
$icon-ic24-unfold-more: "\e9e6";
$icon-ic24-union: "\e9e7";
$icon-ic24-unlink: "\e9e8";
$icon-ic24-unlock: "\e9e9";
$icon-ic24-upload: "\e9ea";
$icon-ic24-user: "\e9eb";
$icon-ic24-user-add: "\e9ec";
$icon-ic24-user-delete: "\e9ed";
$icon-ic24-users: "\e9ee";
$icon-ic24-verified: "\e9ef";
$icon-ic24-vertical-align-bottom: "\e9f0";
$icon-ic24-vertical-align-center: "\e9f1";
$icon-ic24-vertical-align-top: "\e9f2";
$icon-ic24-video: "\e9f3";
$icon-ic24-view-boxes: "\e9f4";
$icon-ic24-view-day: "\e9f5";
$icon-ic24-view-lp: "\e9f6";
$icon-ic24-view-schedule: "\e9f7";
$icon-ic24-view-slider: "\e9f8";
$icon-ic24-view-table: "\e9f9";
$icon-ic24-view-three-columns: "\e9fa";
$icon-ic24-view-two-columns: "\e9fb";
$icon-ic24-view-week: "\e9fc";
$icon-ic24-visibility: "\e9fd";
$icon-ic24-visibility-off: "\e9fe";
$icon-ic24-voice: "\e9ff";
$icon-ic24-volume-max: "\ea00";
$icon-ic24-volume-mid: "\ea01";
$icon-ic24-volume-min: "\ea02";
$icon-ic24-volume-off: "\ea03";
$icon-ic24-wallet: "\ea04";
$icon-ic24-warning: "\ea05";
$icon-ic24-wifi: "\ea06";
$icon-ic24-yen: "\ea07";
$icon-ic24-zoom-in: "\ea08";
$icon-ic24-zoom-out: "\ea09";

